.bg-image{
   background-image: url("/im/aerial-view-long-coastline-famous-point-reyes-national-park-california.jpg");
   background-size: cover;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: end;
}
.card{
    background-color: white;
    padding: 5px;
  text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}
.head{
    font-family: serif;
    font-size: 50px;
}
.para{
    color: grey;
    font-size: 20px;

}
.buu1{
    text-align: center;
}
.butt{
    width: 138px;
    height: 38px;
    border-radius: 25px;
    border-width: 0;
    background-color: rgb(57, 163, 196);
    color: white;
}
.favplaces-bg{
    background-image: url('/im/istockphoto-483916236-612x612.jpg');
    height: 130vh;
    background-size: cover;
    padding: 15px;
}
.fav-heading{
    color: rgb(255, 255, 255);
    font-size: 31px;
    font-family: 'roboto';
    font-weight: bold;
    padding: 24px;

}
.fav-card{
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    display: flex ;
    margin-bottom: 16px;
}
.fav-card-heading{
    color: #0f0e46;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 23px;
}
.fav-card-para{
    color: #6c6b70;
    font-family: 'roboto';
    font-size: 16px;
}
.fav-img{
    height: 110px;
    width: 110px;
}
.btnnn{
    color: rgb(0, 0, 0);
    height: 29px;
    width: 70px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.detailview-bg{
    background-image: url('./im/viewbg.jpg');
    height: 100vh;
    background-size: cover;
}
.detailview-bg-heading{
    color:white;
    font-weight: bold;
   font-size: 28px;
   padding: 24px;
   font-family: 'Roboto';
    margin-left: 370px;
}
.detailview-card{
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 10px;
    height: 75vh;
    width: 50vw;
   margin-left: 380px;

}
.card-heading{
    color: #0f0e46;
    font-family: Roboto;
    font-weight: bold;
    font-size: 23px;
}
.card-para{
    color: #6c6b70;
    font-size: 13px;
    font-family: Roboto;
}
.card-texting{
    padding: 18px;
}
.img{
    height: 50vh;
    width: 50vw;
}
.butn11{
    margin-top: 26px;
    height: 28x;
    width: 70px;
    color: black;
    border-radius: 5px;
}